# Jekyll specific files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler specific files
.bundle/
vendor/bundle/

# Node specific files
node_modules/
npm-debug.log
yarn-error.log

# Logs and databases
*.log
*.sqlite3
*.sqlite3-journal

# System specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak
*.pid
*.seed
*.old

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Other files
coverage/
