---
layout: default
format: home
---

<style>
  /* Style for team member profile */
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 100px;
  }

  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  .team-member h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .team-member p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
  }

  .section {
    margin: 50px;
    margin-left: 0px;
    /* Change the value as needed */
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 20px;
    justify-content: flex-start;
    margin-left: 100px;
  }

  .team-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
</style>

<div class="section">
  <h2 class="section-title">Leadership Team</h2>
  <div class="team-row">
    <div class="team-member">
      <img src="/images/teams/FLi.jpeg" alt="FLi">
      <h2>Dr. Fran Li</h2>
      <p>Project Lead (since 2015)</p>
      <p>University of Tennessee, Knoxville</p>
    </div>
    <div class="team-member">
      <img src="/images/teams/KTomsovic.jpeg" alt="KTomsovic">
      <h2>Dr. Kevin Tomsovic</h2>
      <p>Project Co-lead (since 2015)</p>
      <p>University of Tennessee, Knoxville</p>
    </div>
    <div class="team-member">
      <img src="/images/teams/HCui.jpeg" alt="HCui">
      <h2>Dr. Hantao Cui</h2>
      <p>Chief Technologist; Author of LTB ANDES</p>
      <p>Oklahoma State University</p>
      <p>CURENT Affiliate Faculty</p>
    </div>
  </div>
</div>

<div class="section">
  <h2 class="section-title">Senior Advisors</h2>
  <div class="team-row">
    <div class="team-member">
      <img src="/images/teams/JChow.jpeg" alt="JChow">
      <h2>Dr. Jow Chow</h2>
      <p>Senior Advisor</p>
      <p>Rensselaer Polytechnic Institute</p>
    </div>
    <div class="team-member">
      <img src="/images/teams/AAbur.jpeg" alt="AAbur">
      <h2>Dr. Ali Abur</h2>
      <p>Senior Advisor</p>
      <p>Northeastern University</p>
    </div>
  </div>
  <!-- Add more team members as needed -->
</div>

<div class="section">
  <h2 class="section-title">Core Development Team</h2>
  <div class="team-row">
    <div class="team-member">
      <img src="/images/teams/HCui.jpeg" alt="HCui">
      <h2>Dr. Hantao Cui</h2>
      <p>LTB development coordination (2015-2021)</p>
      <p>ANDES lead developement (since 2018)</p>
      <p>Oklahoma State University</p>
      <p>CURENT Affiliate Faculty</p>
    </div>
    <div class="team-member">
      <img src="/images/teams/XFang.jpeg" alt="XFang">
      <h2>Dr. Xin Fang</h2>
      <p>AMS architect (since 2022)</p>
      <p>Mississippi State University</p>
      <p>CURENT Affiliate Faculty</p>
    </div>
    <div class="team-member">
      <img src="/images/teams/JWang.jpeg" alt="JWang">
      <h2>Mr. Jinning Wang</h2>
      <p>LTB development coordination (since 2021)</p>
      <p>AMS development (since 2022)</p>
      <p>University of Tennessee, Knoxville</p>
    </div>
    <div class="team-member">
      <img src="/images/teams/NWest.jpeg" alt="NWest">
      <h2>Mr. Nick West</h2>
      <p>DiME and AGVis development (2020-2022)</p>
      <p>Alumni of University of Tennessee, Knoxville</p>
    </div>
    <div class="team-member">
      <img src="/images/teams/NParsly.jpeg" alt="NParsly">
      <h2>Mr. Nicholas Parsly</h2>
      <p>DiME and AGVis development (2020-2022)</p>
      <p>University of Tennessee, Knoxville</p>
    </div>
  </div>
</div>

<div class="section">
  <h2 class="section-title">Other Contributors</h2>
  <div class="team-row">
    <div class="team-member">
      <img src="/images/teams/QZhang.jpeg" alt="QZhang">
      <h2>Dr. Qiwei Zhang</h2>
      <p>Alumni of University of Tennessee, Knoxville</p>
    </div>
  </div>