---
layout: default
format: home
---
<style>
  .team-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: left;
    gap: 20px;
    margin-bottom: 5px;
  }
  .team-member {
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .team-member img {
    width: 120px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 10px;
  }
</style>

<!-- Leadership Team -->
<div class="row">
  <div class="small-12 columns">
    <h2>Leadership Team</h2>
    <div class="team-container">
      <div class="team-member">
        <img src="/images/teams/FLi.jpeg" alt="FLi">
        <h3><a href="http://web.eecs.utk.edu/~fli6/" target="_blank">Dr. Fran Li</a></h3>
        <p>Project Lead (since 2015)</p>
        <p>University of Tennessee, Knoxville</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/KTomsovic.jpeg" alt="KTomsovic">
        <h3><a href="http://web.eecs.utk.edu/~ktomsovi/" target="_blank">Dr. Kevin Tomsovic</a></h3>
        <p>Project Co-lead (since 2015)</p>
        <p>University of Tennessee, Knoxville</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/HCui.jpeg" alt="HCui">
        <h3><a href="https://cui.eecps.com/" target="_blank">Dr. Hantao Cui</a></h3>
        <p>Chief Technologist; Author of ANDES</p>
        <p>Oklahoma State University</p>
        <p>CURENT Affiliate Faculty</p>
      </div>
    </div>
  </div>
</div>
<!-- Leadership Team End-->

<!-- Senior Advisors -->
<div class="row">
  <div class="small-12 columns">
    <h2>Senior Advisors</h2>
    <div class="team-container">
      <div class="team-member">
        <img src="/images/teams/JChow.jpeg" alt="JChow">
        <h3><a href="https://sites.ecse.rpi.edu/~chowj/" target="_blank">Dr. Joe Chow</a></h3>
        <p>Senior Advisor</p>
        <p>Rensselaer Polytechnic Institute</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/AAbur.jpeg" alt="AAbur">
        <h3><a href="http://www1.ece.neu.edu/~abur/" target="_blank">Dr. Ali Abur</a></h3>
        <p>Senior Advisor</p>
        <p>Northeastern University</p>
      </div>
    </div>
  </div>
</div>
<!-- Senior Advisors End-->

<!-- Core Development Team -->
<div class="row">
  <div class="small-12 columns">
    <h2>Core Development Team</h2>
    <div class="team-container">
      <div class="team-member">
        <img src="/images/teams/HCui.jpeg" alt="HCui">
        <h3><a href="https://cui.eecps.com/" target="_blank">Dr. Hantao Cui</a></h3>
        <p>LTB development coordination (2015-2021); ANDES lead developement (since 2018)</p>
        <p>Oklahoma State University</p>
        <p>CURENT Affiliate Faculty</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/XFang.jpeg" alt="XFang">
        <h3><a href="http://www1.ece.neu.edu/~abur/" target="_blank">Dr. Xin Fang</a></h3>
        <p>AMS architect (since 2022)</p>
        <p>Mississippi State University</p>
        <p>CURENT Affiliate Faculty</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/JWang.jpeg" alt="JWang">
        <h3><a href="https://jinningwang.github.io/" target="_blank">Mr. Jinning Wang</a></h3>
        <p>LTB development coordination (since 2021); AMS development (since 2022)</p>
        <p>University of Tennessee, Knoxville</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/Zack.jpeg" alt="Zack">
        <h3><a href="https://www.linkedin.com/in/zackary-malkmus-4518461b3/" target="_blank">Mr. Zackary Malkmus</a></h3>
        <p>DiME and AGVis development (since 2023)</p>
        <p>University of Tennessee, Knoxville</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/NParsly.jpeg" alt="NParsly">
        <h3><a href="https://www.linkedin.com/in/nicholas-parsly-093076220/" target="_blank">Mr. Nicholas Parsly</a></h3>
        <p>DiME and AGVis development (2022-2023)</p>
        <p>Alumni of University of Tennessee, Knoxville</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/NWest.jpeg" alt="NWest">
        <h3><a href="https://www.linkedin.com/in/nicholas-drake-west/" target="_blank">Mr. Nicholas West</a></h3>
        <p>DiME and AGVis development (2020-2022)</p>
        <p>Alumni of University of Tennessee, Knoxville</p>
      </div>
    </div>
  </div>
</div>
<!-- Core Development Team End-->

<!-- Other -->
<div class="row">
  <div class="small-12 columns">
    <h2>Other Contributors</h2>
    <div class="team-container">
      <div class="team-member">
        <img src="/images/teams/QZhang.jpeg" alt="QZhang">
        <h3><a href="https://www.linkedin.com/in/qiwei-zhang-12b99a153/" target="_blank">Dr. Qiwei Zhang</a></h3>
        <p>Alumni of University of Tennessee, Knoxville</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/BShe.jpeg" alt="BShe">
        <h3><a href="https://shebuxin.github.io/" target="_blank">Dr. Buxin She</a></h3>
        <p>Alumni of University of Tennessee, Knoxville</p>
      </div>
      <div class="team-member">
        <img src="/images/teams/HShuai.jpeg" alt="HShuai">
        <h3><a href="https://sites.google.com/view/hangshuai/home?authuser=0" target="_blank">Dr. Hang Shuai</a></h3>
        <p>University of Tennessee, Knoxville</p>
      </div>
    </div>
  </div>
</div>
<!-- Other End-->

<!-- Placeholder -->
<div class="row">
  <div class="small-12 columns">
    <h2></h2>
    <div class="team-container">
    </div>
  </div>
</div>
<!-- Placeholder -->
